/* ============================== */
.page-overlay {
    display: flex;
    transition: 0.45s ease;
    transform: translateX(0);
}

.page-overlay-cart {
    transform: translateX(-40%);
}

.main {
    flex: 1;
    width: 100%;
}

.cart {
    position: fixed;
    right: -40%;
    width: 40%;
    background-color: #f6f6f6;
    color: black;
    border: 2px solid #c9c9c9;
    border-style: none none none solid;
}

/* ============================== */

.text-non-links {
    text-decoration: none;
    color: #f8f4ec;
}

.text-links {
    text-decoration: none;
    color: #f4aeba;
}

.text-links:hover {
    text-decoration: underline;
}

.text-links-button {
    text-decoration: none;
    font-weight: bold;
    color: #402b3a;
}

.text-links-button:hover {
    text-decoration: underline;
}

.horizontal-line-text {
    color: #ec729c;
}

.text-links-banner-button {
    text-decoration: none;
    color: #ec729c;
}

.text-links-banner-button:hover {
    text-decoration: underline;
    color: #ec729c;
}

.dropdown-options-container {
    background-color: #15292b;
    border-color: #15292b;
}

/* ============================== */

.header-container {
    background-color: #d63484;
}

/* ============================== */
.content-body {
    background-color: #fed9da;
    background-image: url("./assets/valentines-day-poster.webp");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

/* ============================== */

.top-seller-container {
    border: solid 1px #f4aeba;
    background-color: white;
}

/* ============================== */

.card-container-product {
    border-radius: 30px;
    border-color: #f4aeba;
}

.card-thumbnail-product {
    border-radius: 30px;
    border-color: #f4aeba;
}

.card-cart-button-product {
    background-color: #c54c82;
    color: #f8f4ec;
    border-color: #c54c82;
}

.card-container-banner {
    border-radius: 10px;
    border-color: #f4aeba;
}

.card-title-banner {
    height: 10%;
    font-size: 1em;
    font-weight: bold;
    height: 60px;
}

.card-body-banner {
    height: 85%;
}

.card-link-banner {
    width: 100%;
    font-size: 0.8em;
}

/* ============================== */

.carousel-indicators {
    display: none;
}

/* ============================== */

.pre-footer-container {
    background-color: #37475a;
}

.pre-footer-button {
    background-color: #ff9bd2;
    border: none;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pre-footer-button:hover {
    color: #ff9bd2;
    background-color: #485769;
}

.pre-footer-button:active {
    background-color: #ff9bd2;
    color: #402b3a;
}

/* ============================== */

.footer-container {
    background-color: #d63484;
}

/* ============================== */